{% extends 'store/main.html' %}
{% load static %}
{% block content %}

{% block css %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/profile.css' %}" />
{% endblock %}

<div class="container">
    <h2>Update Profile</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <fieldset>
            <legend>User Info</legend>
            {{ user_form.as_p }}
        </fieldset>
        
        <fieldset>
            <legend>Profile Info</legend>
            {{ profile_form.as_p }}
        </fieldset>

        <button type="submit">Save Changes</button>
    </form>
    <br>
    <br>
    <a href="{% url 'profile' %}" class="herf-button">Back to Profile</a>

{% endblock content %}
